.main {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #333;
  text-decoration: none;
  transition: 0.2s;
}

.logo:hover {
  color: #666;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.linkPerson {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}

.linkPerson:hover {
  opacity: 0.8;
}

.btn_wrap {
  display: flex;
  justify-content: center;
}

.btn_wrap button {
  background-color: #Ccc;
  color: #333;
  border: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}